#background {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25vw;
    text-align: center;
}

#background img {
    max-width: 15vw;
    aspect-ratio: 1;
    margin: auto 0;
    border-radius: 18px;
    background-repeat: no-repeat;
    border: 12px solid #F2F2F2;
}
#event{
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    justify-content: center;
    font-family: 'Inter';
    color: #2B3377;
    margin-top: 12px;
}
.event-title{
    font-weight: bold;
    font-size: 1.3rem;
}
p{
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 1rem;
}
