.historyPage {
    margin: 0 auto;
    border: 0 none;
    height: calc(100vh - 64px);
    width: 100%;
    position: relative;
    overflow-x: hidden;
    max-width: 100%;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column !important;
        align-items: center;
        text-align: center;
        gap: 24px !important;
        padding: 8px !important;
    }
}
.main {
    display: flex; /* or inline-flex */
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 200px;
    margin: 24px;
    padding: 48px;
    border-top: 1px solid var(--purple-lines);
    border-bottom: 1px solid var(--purple-lines);
}

.pastEvents{
    padding-top: 50px;
}
.pastEvents span {
    font-family: "Bebas Neue", sans-serif;
    font-size: 64px;
    color: #412079;
    padding: 53px;
    margin: auto !important;
    display: flex;
}
.event{
    padding-top: 90px;
    padding-bottom: 70px;
}
