@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  border: 0 none;
  height: 100%;
  width: 100%;
}
#container {
  margin: 0 auto;
  border: 0 none;
  height: calc(100vh - 64px);
  width: 100%;
  position: relative;
  overflow-x: hidden;
  max-width: 100%;
}

@media (max-width: 768px)  {
  .header {
    height: 600px !important;
  }

  .background {
    aspect-ratio: 4 / 3 !important;
  }

  .header .background .hands {
    background: url('/public/happy-people.png') no-repeat !important;
    background-size: contain !important;
    height: 50% !important;
    right: 0 !important;
  }

  .back_main, .random_shapes {
    display: none;
  }

  .header-content .title {
    color: #412079;
    font-size: 1.5rem !important;
  }
  .header-content .body {
    color: black;
    font-size: 1rem !important;
  }
  .header-content button {
    display: none;
  }
}

.header {
  border: 0;
  text-align: center;
  background: var(--light-grey);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.header .background {
  position: relative;
  width: 100%;
  aspect-ratio: 1904 / 993;
}
.header .background .back_main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/public/homepage-background/back_main.svg') no-repeat;
  background-size: contain;
}
.header .background .back_main .back_top {

}
.header .background .back_main .back_top .back_top_1 {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 250px;
  background: url('/public/homepage-background/top_1.svg') no-repeat;
  background-size: contain;
}
.header .background .back_main .back_top .back_top_2 {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 200px;
  background: url('/public/homepage-background/top_2.svg') no-repeat;
  background-size: contain;
}
.header .background .back_main .back_bottom {

}
.header .background .back_main .back_bottom .back_bottom_1 {
  position: absolute;
  bottom: -75px;
  left: 0;
  width: 100%;
  height: 300px;
  background: url('/public/homepage-background/bottom_1.svg') no-repeat;
  background-size: contain;
}
.header .background .back_main .back_bottom .back_bottom_2 {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  height: 200px;
  background: url('/public/homepage-background/bottom_2.svg') no-repeat;
  background-size: contain;
}
.header .background .hands {
  position: absolute;
  right: 10%;
  bottom: 5%;
  height: 33%;
  aspect-ratio: 1 / 1;
  background: url('/public/hands.png') no-repeat;
  background-size: contain;
}

.header-content {
  z-index: 99;
  position: absolute;
  color: white;
  left: 7.5%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  font-family: 'Inter';
  gap: 18px;
}
.header-content .title{
  font-size: 2.5rem;
  font-weight: bold;
}
.header-content .body {
  font-size: 1.2em;
}
.header-content button {
  padding: 12px;
  border-radius: 10px;
  background: white;
  outline: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}
.header-content .divider {
  width: 65px;
  height: 0px;
  border: 1px solid #BCA6E0;
  border-radius: 25px;
}

.random_shapes {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 45%;
}
.random_shapes div {
  height: 24px;
  width: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-position: bottom right;
  animation-name: floatingshape;
  animation-duration: 25s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.random_shapes .box {
  margin-left: 110%;
  margin-top: 30%;
  animation-delay: 5s;
  background-image: url('/public/shapes/box.svg');
}
.random_shapes .circle {
  margin-left: 10%;
  margin-top: 15%;
  animation-delay: 10s;
  background-image: url('/public/shapes/circle.svg');
}
.random_shapes .dot {
  margin-left: 50%;
  margin-top: 23%;
  width: 12px;
  height: 12px;
  animation-delay: 15s;
  background-image: url('/public/shapes/dot.svg');
}
.random_shapes .triangle {
  margin-left: 85%;
  margin-top: 80%;
  background-image: url('/public/shapes/triangle.svg');
}
@keyframes floatingshape {
  0% {
    transform: translateX(-10px) translateY(10px) rotate(0deg);
  }
  25% {
    transform: translateX(-10px) translateY(-10px) rotate(10deg);
  }
  50% {
    transform: translateX(-10px) translateY(10px) rotate(20deg);
  }
  75% {
    transform: translateX(10px) translateY(10px) rotate(10deg);
  }
  100% {
    transform: translateX(-10px) translateY(10px) rotate(0deg);
  }
}

#upNext {
  position: relative;
  background: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--purple-lines);
  border-bottom: 1px solid var(--purple-lines);
}

.upNextHead {
  font-family: "Bebas Neue", sans-serif;
  font-size: 64px;
  color: #412079;
  margin: 0;
  padding: 53px;
}
.upNextPhoto {
  position: absolute;
  top: 39%;
  width: 405px;
  height: 285px;
  border-radius: 15px;
  float: left;
  margin-right: 15px;
  margin-left: 15px;
  z-index: 3;
}
#upNext span {
  font-size: 1.8rem;
  font-family: 'Inter';
  margin: 24px auto;
  padding: 0 24px;
}
#upNext span a {
  text-decoration: none;
  font-weight: bold;
}
#eventInfo {
  top: 18%;
  background: #f4ebff;
  border: 0;
  width: 100%;
  z-index: 2;
  font-family: "Inter", sans-serif;
}
.eventName {
  padding-left: 35%;
  font-size: 25px;
  padding-top: 15px;
  margin-bottom: 0;
}
.eventDate {
  padding-right: 1%;
  padding-left: 35%;
  font-size: 20px;
  margin: 0;
}
.eventCost {
  padding-right: 1%;
  padding-left: 35%;
  font-size: 20px;
  margin: 0;
}
.eventAbout {
  padding-right: 1%;
  padding-left: 35%;
  font-size: 20px;
  margin: 0;
}
.eventAboutInfo {
  padding-right: 1%;
  padding-left: 35%;
  font-size: 20px;
  margin-top: 0;
}
.eventRegLink {
  padding-right: 1%;
  padding-left: 35%;
  font-size: 20px;
  color: black;
}
.clickHereMessage {
  font-size: 25px;
  text-align: center;
  font-family: "Inter", sans-serif;
}
.eventsLink {
  font-weight: bold;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.ourPartners {
  background: white;
  padding: 24px;
}
.footer {
  background: white;
}
.partners {
  font-size: 3rem;
  text-align: center;
}
.partnersHeader {
  padding-top: 25px;
  font-family: "Inter", sans-serif;
  font-size: 35px;
  text-align: center;
}
.contact {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  text-align: center;
  margin-right: 20px;
}

.contactHead {
  font-family: "Inter", sans-serif;
}
.wrap-grid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
}
.wrap-grid img {
  max-width: 20vw;
  height: auto;
  aspect-ratio: 0 !important;
  box-shadow: none;
  border-radius: 0;
}

@media (max-width: 768px) {
  .socials-grid {
    display: block !important;
    align-items: center;
    text-align: center;
  }
}
.socials-grid {
  display: flex;
  justify-content: end;
  align-items: center;
}
.socials-grid img {
  max-width: none;
  height: 48px;
  width: 48px;
  border-radius: 0;
  box-shadow: none;
  margin: auto 12px;
}
.socials-grid .links {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials-grid a {
  height: 100%;
  display: flex;
  align-items: center;
}
