@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  border: 0 none;
  height: 100%;
  width: 100%;
}
#container {
  margin: 0 auto;
  border: 0 none;
  height: calc(100vh - 64px);
  width: 100%;
  position: relative;
  overflow-x: hidden;
  max-width: 100%;
}
.header {
  height: 33%;
  border: 0;
  text-align: center;
  background: var(--light-purple);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.headerMsg {
  font-size: 45px;
  border-radius: 15%;
  font-family: "Bebas Neue", sans-serif;
  color: var(--purple-lines);
  margin-top: 0;
  margin-bottom: 0;
}
.header a {
  text-decoration: none;
  background-color: var(--navbar);
  color: black;
  outline: none;
  border-radius: 5px;
  border-width: 1px;
  border: 1px solid black;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 23px;
}
#upNext {
  position: relative;
  background: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--purple-lines);
  border-bottom: 1px solid var(--purple-lines);
}

.upNextHead {
  font-family: "Bebas Neue", sans-serif;
  font-size: 64px;
  color: #412079;
  margin: 0;
  padding: 53px;
}
.upNextPhoto {
  position: absolute;
  top: 39%;
  width: 405px;
  height: 285px;
  border-radius: 15px;
  float: left;
  margin-right: 15px;
  margin-left: 15px;
  z-index: 3;
}
#upNext span {
  font-size: 1.8rem;
  font-family: 'Inter';
  margin: 24px auto;
  padding: 0 24px;
}
#upNext span a {
  text-decoration: none;
  font-weight: bold;
}
#eventInfo {
  top: 18%;
  background: #f4ebff;
  border: 0;
  width: 100%;
  z-index: 2;
  font-family: "Inter", sans-serif;
}
.eventName {
  padding-left: 35%;
  font-size: 25px;
  padding-top: 15px;
  margin-bottom: 0;
}
.eventDate {
  padding-right: 1%;
  padding-left: 35%;
  font-size: 20px;
  margin: 0;
}
.eventCost {
  padding-right: 1%;
  padding-left: 35%;
  font-size: 20px;
  margin: 0;
}
.eventAbout {
  padding-right: 1%;
  padding-left: 35%;
  font-size: 20px;
  margin: 0;
}
.eventAboutInfo {
  padding-right: 1%;
  padding-left: 35%;
  font-size: 20px;
  margin-top: 0;
}
.eventRegLink {
  padding-right: 1%;
  padding-left: 35%;
  font-size: 20px;
  color: black;
}
.clickHereMessage {
  font-size: 25px;
  text-align: center;
  font-family: "Inter", sans-serif;
}
.eventsLink {
  font-weight: bold;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.ourPartners {
  background: white;
  padding: 24px;
}
.footer {
  background: white;
}
.partners {
  font-size: 3rem;
  text-align: center;
}
.partnersHeader {
  padding-top: 25px;
  font-family: "Inter", sans-serif;
  font-size: 35px;
  text-align: center;
}
.contact {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  text-align: center;
  margin-right: 20px;
}

.contactHead {
  font-family: "Inter", sans-serif;
}
.wrap-grid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
}
.wrap-grid img {
  max-width: 20vw;
  height: auto;
  aspect-ratio: 0 !important;
  box-shadow: none;
  border-radius: 0;
}

@media (max-width: 768px) {
  .socials-grid {
    display: block !important;
    align-items: center;
    text-align: center;
  }
}
.socials-grid {
  display: flex;
  justify-content: end;
  align-items: center;
}
.socials-grid img {
  max-width: none;
  height: 48px;
  width: 48px;
  border-radius: 0;
  box-shadow: none;
  margin: auto 12px;
}
.socials-grid .links {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials-grid a {
  height: 100%;
  display: flex;
  align-items: center;
}
