@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,


.webpage{
    background: linear-gradient(#f8f2ff,white);
}

.Title{
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #412079;
    vertical-align: top;
    text-align: left;
    padding-left: 15px;
    margin-bottom: -20px;
}

.Meet{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: black;
    vertical-align: top;
    text-align: left;
    padding-left: 15px;
    margin-bottom: 50px;
}

/*Teams*/

.container{
    display:flex;
    align-items: top;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin:auto;
}

.column{
    display: inline-block;
    width: 350px;
    height: 500px;
    text-align:left;
    overflow: visible;
    position: relative;
}

.column img{
    width: 350px;
    height: 450px;
    object-fit: cover;
    margin-bottom: 5px;
}

.caption{
    display:block;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 28px;
    color: black;
    vertical-align: top;
    text-align: left;
}

.role{
    margin-top: -10px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: black;
    vertical-align: top;
    text-align: left;
}

.desc{
    word-wrap: break-word;
    width: 300px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
    vertical-align: top;
    text-align: left;
}



