.webpage{
    background: linear-gradient(#f8f2ff,white);
}
.container{
    display:flex;
}

.column{
    flex:20%;
    padding:5px;
    display: inline-block;
    width: 250px;
}

img{
    float:left;
    width: 350px;
    height: 450px;
    object-fit: cover;
    margin-bottom: 5px;
}

.caption{
    display:block;
}

.role{
    margin-top: -20px;
    word-wrap: break-word;
}

.desc{
    margin-top: -10px;
    word-wrap: break-word;
    width: 300px;
}