@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media (max-width: 768px) {
    .teamInfo {
        flex-direction: column !important;
        gap: 48px;
    }
    .column {
        width: 100% !important;
    }
    .column img{
        width: 80vw !important;
        max-width: 80vw !important;
    }
    .column .role {
        margin-bottom: 0;
    }
}

.container {
    overflow-y: hidden;
}
.container.team {
    padding-top: 70px;
}

.team-header {
    margin: 20px 0 90px;
}

.team-header h1, .team-header h3 {
    text-align: center;
    margin: 0;
}

.team-header .divider {
    width: 65px;
    height: 0px;
    border: 1px solid #BCA6E0;
    border-radius: 25px;
    margin: 15px auto;
}

.Title{
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 45px;
    color: #412079;
    vertical-align: top;
    text-align: left;
    padding-left: 15px;
    margin-bottom: -20px;
}

.Meet{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: black;
    vertical-align: top;
    text-align: left;
    padding-left: 15px;
    margin-bottom: 50px;
}

/*Teams*/

.teamInfo{
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    width: 95%;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.card {
    font-family: "Inter", sans-serif;
    display: inline-block;
    position: relative;
    background: rgba(252, 244, 255, 0.66);
    /*border: 1px solid #888888;*/
    max-width: 360px;
}

.card .card-img-top {
    width: 100%;
    object-fit: cover;
}

.card > div {
    padding: 20px;
}

.card .inner {
    margin-top: -140px;
}

.card .card-body img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 12px solid white;
}

.card .card-body {
    text-align: center;
}

.card .caption {
    font-weight: 800;
    font-size: 23px;
}

.card .role {
    margin-top: -5px;
    font-weight: 500;
    font-size: 17px;
    color: rgba(112, 112, 112, 1);
}

.card .card-footer {
    font-weight: 600;
    color: rgba(66, 66, 66, 1);
}

